@import 'main.css';

/* Bold */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://s0.wp.com/wp-content/themes/pub/blockbase/assets/fonts/ibm-plex-mono/ibm-plex-mono-Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Italic Regular */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://s0.wp.com/wp-content/themes/pub/blockbase/assets/fonts/ibm-plex-mono/ibm-plex-mono-latin-ext-Regular-italic.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Regular */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://s0.wp.com/wp-content/themes/pub/blockbase/assets/fonts/ibm-plex-mono/ibm-plex-mono-cyrillic-Regular.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a,
.filterable-portfolio .nav-pills a,
.portfolio-item img,
.posts .post img,
.posts .post-excerpt .post-meta a,
.widget_benawp-recent-projects img {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

html {
    padding: 2rem;
    background: currentcolor url("../img/abstract-bg.svg") right bottom no-repeat;
    height: 100%;
    background-attachment: fixed;
    overflow-y: scroll;
}

body {
    background: none;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5;
    color: #f5f5f5;
    font-size: 1.05rem;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-bottom: 1rem;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
    color: #f5f5f5;
    font-weight: bold;
}

@media ( max-width: 767px ) {
    .navbar .navbar-nav > li > a {
        color: #111;
    }
}

.navbar .navbar-nav > li > a {
    font-size: 1.2em;
    font-weight: 400;
}

.nav > li.active > a:hover {
    text-decoration: none;
}

.navbar .navbar-nav > li > a:hover {
    color: #F5F0E5;
    text-decoration: underline;
    background: none;
}

.nav > li > a:hover {
    color: #ddd;
    background-color: transparent;
}

.nav > li > a:focus {
    background-color: transparent;
    outline: none;
}

@media ( min-width: 768px ) {
    .navbar-nav > li.current-menu-item {
        background-color: #3858e9;
        border-radius: .2rem;
    }
}

.navbar .navbar-brand .bloginfo {
    padding-bottom: 1em;
}

.navbar .navbar-brand .bloginfo:hover {
    border-bottom: 2px solid #F5F0E5;
}

.navbar-nav > li:last-child > a:after {
    content: '';
}

.navbar-brand.has-not-custom-log {
    display: flex;
    gap: 1.5rem;
}

.navbar-brand.has-not-custom-log .tagline {
    font-size: .98em;
    font-weight: 400;
    color: #F5F0E5;
}

.navbar-brand.has-not-custom-log .bloginfo {
    font-size: 1.1em;
}

.navbar-toggle {
    background: #f5f5f5;
}

.navbar-toggle .icon-bar {
    background: #111;
}

@media (max-width: 768px) {
    .navbar-nav > li > a {
        background: #f5f5f5;
        border-radius: 4px;
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) {
    .navbar-nav > li > a:after {
        content: '';
    }
}

.container-fluid .jumbotron {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background: none;
    margin-top: 54px;
    margin-bottom: 54px;
}

.jumbotron h1 {
    font-size: 120px;
}

.jumbotron .lead {
    font-size: 32px;
}

@media (max-width: 992px) {
    .jumbotron h1 {
        font-size: 72px;
    }
}

@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 40px;
    }

    .jumbotron .lead {
        font-size: 20px;
    }
}

.portfolio-title {
    padding: 10px 15px;
    padding-left: 0;
    font-weight: bold;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #f5f5f5;
    color: #111;
}

.nav-pills > li.active > a {
    font-weight: 700;
}

.nav-pills a {
    color: #f5f5f5;
}

.filterable-portfolio .nav-pills {
    margin-bottom: 2rem;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    margin-bottom: 2rem;
}

.portfolio-item img {
    border-radius: 4px;
}

.portfolio-item:hover img {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.filterable-portfolio,
.single-post {
    margin-bottom: 4rem;
}

.posts {
    margin-bottom: 3rem;
}

.post {
    margin-bottom: 1rem;
}

.post img {
    border-radius: 4px;
    margin-bottom: 1rem;
}

.post:hover img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.post-excerpt header {
    text-align: center;
}

.post-excerpt header h3 {
    margin-bottom: 0.25rem;
}

.post-excerpt header a {
    color: #f5f5f5;
}

.post-excerpt header a:hover {
    text-decoration: none;
}

.post-excerpt .post-meta {
    color: #f5f5f5;
}

.post-excerpt .post-meta a {
    color: #f5f5f5;
}

.post-excerpt .post-meta a:hover {
    border-bottom: 0;
    border-bottom: 1px dotted #111;
}

.sidebar {
    margin-bottom: 1rem;
}

.sidebar .widget {
    margin-bottom: 1rem;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar li a {
    color: #f5f5f5;
}

.sidebar li a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #838383;
}

.widget_benawp-recent-projects ul {
    padding: 15px 0;
}

.widget_benawp-recent-projects li {
    margin-bottom: 2rem;
}

.widget_benawp-recent-projects img {
    border-radius: 4px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.widget_benawp-recent-projects img:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

a {
    color: #4e9af3;
}

.site-footer {
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-footer span {
    margin-right: 0.5em;
}

.post-meta {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.post-meta i {
    margin-right: 0.3rem;
    font-size: .9rem;
    position: relative;
    bottom: 1.9px;
}

.post-author i {
    margin-right: .3rem;
}

.post-date i {
    margin-right: 4px;
}

.more-link {
    font-style: italic;
    border-bottom: 1.5px solid #F5F0E5;
    color: #F5F0E5;
}

.more-link:hover {
    color: #F5F0E5;
    border-bottom: none;
    text-decoration: none;
}

/* Contact form */
/* For the demo purpose*/

#contact-form-wprap {
    width: 50%;
    max-width: 50%;
    background: #3858e9;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    margin-bottom: 3rem;
}

#contact-form-wprap .row {
    padding-left: 4em;
    padding-right: 4em;
}

#contact-form-wprap textarea,
#contact-form-wprap input {
    width: 100%;
    max-width: 100%;
}

#contact-form-wprap label {
    color: #f5f5f5;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 14px;
}

#contact-form-wprap label.wpforms-error {
    color: red;
}

#contact-form-wprap button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (max-width: 991px) {

    #contact-form-wprap {
        width: 100%;
        max-width: 100%;
    }

    #contact-form-wprap .row {
        padding-left: 1em;
        padding-right: 1em;
    }

    .navbar .navbar-brand {
        flex-direction: column;
        gap: 0;
    }

    .navbar .navbar-brand .bloginfo {
        padding-bottom: 0;
    }

    .navbar .navbar-brand .tagline {
        font-size: 0.7em;
    }

    .navbar-header {
        padding-bottom: 10px;
    }
}

.site-footer .contact-infos .phone-number,
.site-footer .contact-infos .email-address {
    font-family: 'IBM Plex Mono', monospace;
}

.site-footer .contact-infos .glyphicon.glyphicon-phone,
.site-footer .contact-infos .glyphicon.glyphicon-envelope {
    display: flex;
    gap: 0.5rem;
}

@media ( max-width: 991px ) {
    .blog-home-container {
        display: flex;
        flex-direction: column-reverse;
    }
}